body {
  background-color: #f4f1de; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding-top: 50px;
  margin: 0;
}

.container {
  background-color: #3d405b; 
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 40px;
  max-width: 600px;
}
h1 {
  color: #e07a5f; 
  font-size: 2.5em;
  margin-bottom: 20px;
}


p {
  font-size: 1.5em;
  color: #f2cc8f; 
}

.count {
  font-weight: bold;
  color: #81b29a; 
}

